@import '../styles/variable.scss';

.logo{
    width: 180px;
    height: 35px;
}

.menuBox{
    width: calc(100% - 380px);
    min-width: 500px;
}

.sign{
    width: 170px;
    color: $orange;
    a{
        color: $orange;
        font-weight: 700;
        cursor: pointer;
        padding: 10px;
    }
    a:hover{color: $orange_hover;}
    a:active{color:$orange_active;}
}